<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Schedule of talks and abstracts for the Theoretical Ecology Lab Tea in the Department of Ecology and Evolutionary Biology (EEB) at Princeton University">
		<meta name="keywords" content="LabTea, Theoretical Ecology Lab Tea, Princeton, Princeton University, EEB, Ecology and Evolutionary Biology, Simon Levin, Corina Tarnita, ecology, schedule, talks, abstracts">
		<meta name="viewport" content="width=device-width">
		<title>Theoretical Ecology Lab Tea</title>
		<style>
			body {
				color: #222;
				font-family: Arial, serif;
				line-height: 1.25;
				max-width: 45em;
				margin: auto;
				padding: 0 1em;
			}
			h1, h2, a {
				color: rgb(51, 102, 102);
			}
			h1 {
				margin: 0.25em 0;
			}
			a:hover {
				color: rgb(26, 77, 77);
			}
			a:active, a:focus {
				color: rgb(39, 90, 90);
			}
			section {
				border-top: 1.4em solid #647b8c;
				margin-bottom: 1.5em;
			}
			table {
				width: 100%;
				border-collapse: collapse;
				border-spacing: 0;
			}
			td {
				width: 50%;
				padding: 0;
				vertical-align: baseline;
				border: 1px solid #ccc;
			}
			td > a {
				display: block;
				text-decoration: none;
			}
			td:first-child > a {
				color: inherit;
			}
			td > a, tr.nope > td {
				padding: 0.25em 0.5em;
				min-height: 1.5em;
			}
			tbody > tr:nth-child(odd) {
				background: #ecf3fe;
			}
			tbody > tr:not(.nope):hover {
				background: #5dd2b2;
			}
			.pending {
				font-size: 1.7em;
				vertical-align: -5%;
				color: #e3004a;
				cursor: help;
			}
			time > strong {
				color: #800;
			}
			dt {
				margin-top: 0.5rem;
			}
			dt:target, dt:target + dd {
				-webkit-animation: target-fade 3s 1;
			}
			@-webkit-keyframes target-fade {
				0% { background-color: #ffa; }
				100% { background-color: inherit; }
			}
			dd {
				margin: 0;
				padding: 1rem 0 1rem 2rem;
			}
			dd > header > strong, dd > header > em {
				display: block;
			}
			ol > li {
				list-style-type: none;
				float: left;
			}
			ol > li:nth-child(even) {
				margin-left: 2em;
			}
			ol > li:nth-child(odd) {
				clear: both;
			}
			footer {
				clear: both;
				text-align: center;
				font-size: 0.9em;
				color: #aaa;
				padding-top: 4em;
			}
			footer > p > a {
				color: #999;
			}
			footer > p > a:hover {
				color: #888;
			}
			footer > p:last-child {
				font-size: 2em;
				margin: 0.25em 0;
			}
			@media only screen and (min-width: 45em) {
				h1 {
					margin: 0.67em 0;
				}
				header > section {
					padding-left: calc(40% + 1em);
					background: left center/40% no-repeat url('img/Acropora-florida-on-coral-reef.jpg');
				}
			}
			@media only screen and (min-width: 53em) {
				header > section {
					background-image: url('img/Aloe-dorotheae.jpg');
				}
			}
			@media only screen and (min-width: 61em) {
				header > section {
					background-image: url('img/barrow-island-coastline.jpg');
				}
			}
			@media only screen and (min-width: 69em) {
				header > section {
					background-image: url('img/christmas-island-red-crab.jpg');
				}
			}
			@media only screen and (min-width: 77em) {
				header > section {
					background-image: url('img/dragons-blood-trees-socotra-archipelago.jpg');
				}
			}
			@media only screen and (min-width: 85em) {
				header > section {
					background-image: url('img/Eastern-deciduous-forest-canopy-in-early-autumn-with-river-running-through.jpg');
				}
			}
			@media only screen and (min-width: 93em) {
				header > section {
					background-image: url('img/Herd-of-addax.jpg');
				}
			}
			@media only screen and (min-width: 101em) {
				header > section {
					background-image: url('img/Iceberg-and-mountains-on-the-Antarctic-Peninsula.jpg');
				}
			}
			@media only screen and (min-width: 109em) {
				header > section {
					background-image: url('img/Mountain-slopes-in-the-Western-Ghats-with-high-altitude-shola-forest-separated-by-undulating-grassland.jpg');
				}
			}
			@media only screen and (min-width: 117em) {
				header > section {
					background-image: url('img/Front-on-view-of-a-hawksbill-turtle.jpg');
				}
			}
		</style>
	</head>
	<body>
		<header>
			<h1>Theoretical Ecology Lab Tea</h1>
			<section>
				<p>
					The Theoretical Ecology Lab Teas are informal
					meetings where members of affiliated lab groups give talks on their
					current research and receive feedback from their audience. Talks
					are 30 minutes long and are followed by questions and discussion.

                                        </p><p>
                                        Lab Tea typically meets Wednesdays at 12:30 pm during the fall and spring semesters.
					All talks this semester will be held in Eno 209 unless otherwise stated.
				</p>
				<p>
					For the fall semester of 2016, the talk schedules and email lists will be maintained
					by <a href="mailto:wenyingl@princeton.edu">Wenying Liao</a>
					and <a href="mailto:dhmorris@princeton.edu">Dylan Morris</a>.
					Please contact Wenying or Dylan to have your name added to the Lab Tea email list
					so that you can receive reminders about upcoming meetings.
				</p>
			</section>
		</header>
		<main>
			<section id="schedule">
			  <h2>Fall 2016 schedule</h2>
                          <em>Click on an event to view the talk title and abstract</em></p><p>
				<table>
					<thead>
						<tr>
							<th>Date and time</th>
							<th>Speaker</th>
						</tr>
					</thead>
					<tbody>
                                          {% for talk in talks %}
                                          <tr>
                                            <td>
                                              <a href="#{{ talk.isodate }}">
                                                <time datetime="{{ talk.isodatetime }}">
                                                  {{ talk.usadate }}<sup>{{ talk.datesuffix }}</sup> – {{talk.usatime}}
                                                </time>
                                              </a>
                                            </td>
                                            <td><a href="#{{ talk.isodate }}">{{ talk.speaker }}</a></td></tr>
					</tbody>
                                        {% endfor %}
				</table>
				<p>
					<strong>Note: </strong>Priority is given to graduate students.
					A <span class="pending" title="Hover to see until when it is pending">⊛</span> symbol next to the speaker's name
					means that approval is pending for a week and graduate students can still claim the slot.
				</p>
			</section>
			<section>
				<h2>Titles and abstracts</h2>
				<dl>
                                  {% for talk in talks %}
                                  <dt id="{{ talk.isodate }}"><time datetime="{{ talk.isodatetime }}"> {{ talk.usadate }}<sup>{{ talk.datesuffix }}</sup> – {{ talk.usatime }}</time></dt><dd><header><strong>{{ talk.title }}</strong><em>{{ talk.speaker }}</em></header><p>{{ talk.abstract }}</p><a href="#schedule">Back to schedule</a></dd>
                                  {% endfor %}
				</dl>
			</section>
			<section>
				<h2>Links to previous schedules</h2>
				<ol>

					<li><a href="labtea_fall2000.html">Fall 2000</a></li>
					<li><a href="labtea_spring2001.html">Spring 2001</a></li>

					<li><a href="labtea_fall2001.html">Fall 2001</a></li>
					<li><a href="labtea_spring2002.html">Spring 2002</a></li>

					<li><a href="labtea_fall2002.html">Fall 2002</a></li>
					<li><a href="labtea_spring2003.html">Spring 2003</a></li>

					<li><a href="labtea_fall2003.html">Fall 2003</a></li>
					<li><a href="labtea_spring2004.html">Spring 2004</a></li>

					<li><a href="labtea_fall2004.html">Fall 2004</a></li>
					<li><a href="labtea_spring2005.html">Spring 2005</a></li>

					<li><a href="labtea_fall2005.html">Fall 2005</a></li>
					<li><a href="labtea_spring2007.html">Spring 2007</a></li>

					<li><a href="labtea_fall2007.html">Fall 2007</a></li>
					<li><a href="labtea_spring2008.html">Spring 2008</a></li>

					<li><a href="labtea_fall2008.html">Fall 2008</a></li>
					<li><a href="labtea_spring2009.html">Spring 2009</a></li>

					<li><a href="labtea_fall2009.html">Fall 2009</a></li>
					<li><a href="labtea_spring2010.html">Spring 2010</a></li>

					<li><a href="labtea_fall2010.html">Fall 2010</a></li>
					<li><a href="labtea_spring2011.html">Spring 2011</a></li>

					<li><a href="labtea_fall2011.html">Fall 2011</a></li>
					<li><a href="labtea_spring2012.html">Spring 2012</a></li>

					<li><a href="labtea_fall2012.html">Fall 2012</a></li>
					<li><a href="labtea_spring2013.html">Spring 2013</a></li>

					<li><a href="labtea_fall2013.html">Fall 2013</a></li>
					<li><a href="labtea_spring2014.html">Spring 2014</a></li>

					<li><a href="labtea_fall2014.html">Fall 2014</a></li>
					<li><a href="labtea_spring2015.html">Spring 2015</a></li>
					<li><a href="labtea_fall2015.html">Fall 2015</a></li>
                                        <li><a href="labtea_spring2016.html">Spring 2016</a></li>

				</ol>
			</section>
		</main>
		<footer>
		  <p>Last updated: <time datetime="{{ updated.isodatetime }}">{{ updated.usadate }}<sup>{{ updated.suffix }}</sup>, {{ updated.year }}</time>
                    {% if updated.name %}
                    by <a href="mailto:{{ updated.email }}">{{ updated.name}}</a>
                    {% endif %}
                  </p>
			<p><a href="timer/" title="Lab Tea Timer">⏰</a></p>
		</footer>
	</body>
</html>
